* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: auto;
}
header nav {
    width: 90%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
#signOUt_btn {
        padding: 5px 26px;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid transparent;
        outline: none;
        border-radius: 15px;
        cursor: pointer;
        transition: all .4s;
}
#signOUt_btn:hover {
    box-shadow: 0px 1px 5px 0px rgb(68, 68, 68);
}
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.form {
    width: 320px;
    padding: 0px 10px;
    border-radius: 15px;
    box-shadow: 0px 2px 6px 0px #555;
    transition: all .4s;
}
.form:hover {
    box-shadow: 0px 4px 6px 0px #555;
}
form {
    width: 100%;
    padding: 10px;
}
form #task {
    width: 100%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 1px solid #555;
    margin: 10px 0;
}
form #submit {
    padding: 10px 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    margin: auto;
    font-size: 14px;
    font-weight: 500;
    background: rgb(162, 219, 162);
    border: 1px solid rgb(133, 221, 133);
    transition: all .5s;
}
form #submit:hover {
    background: rgb(106, 219, 106);
    border: 1px solid rgb(49, 165, 49);
}
main .User_tasks {
    width: 70%;
    height: auto;
    margin-top: 25px;
    padding: 10px;
    box-shadow: 0px 2px 6px 0px #555;
    border-radius: 8px;
}
.User_tasks div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    padding: 2px 10px;
    border-radius: 5px;
}
.User_tasks #do {
    font-size: 20px;
    width: 60%;
}
.User_tasks .btn {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: none;
}
#done_btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 18px;
    border: none;
    outline: none;
    background: rgb(147, 240, 147);
    border: 1px solid rgb(58, 131, 58);
    cursor: pointer;
    transition: all .5s;
    margin-right: 20px;
}
#done_btn:hover {
    background: rgb(46, 189, 46);
    border: 1px solid rgb(17, 121, 17);
}
#remove_btn {
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px 18px;
    border: none;
    outline: none;
    color: inherit;
    background: rgb(236, 142, 142);
    border: 1px solid rgb(134, 55, 55);
    cursor: pointer;
    transition: all .5s;
}
#remove_btn:hover {
    background: rgb(223, 55, 55);
    border: 1px solid rgb(148, 27, 27);
}
hr {
    box-shadow: none;
}

@media screen and (max-width:780px) {
    main .User_tasks{
        width: 98%;
    }
}
@media screen and (max-width: 570px) {
    .User_tasks div {
        flex-direction: column;
    }   
    .User_tasks #do {
        width: 100%;
    }
    .User_tasks .btn {
        width: 100%;
        display: block;
    }
}